.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgba(60, 151, 98, 0.781);
  color: rgba(60, 151, 98, 0.781);
  cursor: pointer;
}
.paginationBttns a:hover {
  color: white;
  background-color: rgba(60, 151, 98, 0.781);
}
.paginationActive a {
  color: white;
  background-color: rgba(60, 151, 98, 0.781);
}
