div .box {
  margin: 80px;
}
.box {
  width: 300px;
  perspective: 1000px;
  position: relative;
  height: 400px;
}
.box .box-img {
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}
.box:hover .box-img {
  transform: rotateY(-90deg);
}
.box .box-img img {
  width: 100%;
  height: auto;
  border-radius: 1%;
}
.box .content {
  color: blanchedalmond;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 120px 40px;
  box-sizing: border-box;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}
.box:hover .content {
  transform: rotateY(0);
}
.box .content p {
  border-top: 1px solid blanchedalmond;
  border-bottom: 1px solid blanchedalmond;
  padding: 20px 0;
}
.box ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.box ul li {
  list-style: none;
  padding-top: 1px;
}
.box ul li img {
  width: 50%;
  cursor: pointer;
}
.border {
  border-radius: 10%;
}
